[Desktop Entry]
Encoding=UTF-8
Name=Eraser
Comment=Zerar informações com segurança
Exec=gnome-terminal --geometry=60X40 -t Eraser -x bash -c "/home/robson/Dropbox/scripts/shell/wipe-data/script"
Icon=fingerprint-gui.png
Categories=Application
Version=1.0
Type=Application
Terminal=0
Name[pt_BR]=Eraser
Comment[pt_BR]=Zerar informações com segurança
